*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 1.6%; /* 16px*0.62.5% = 10px */
  font-size: 10px;
}
body {
  position: relative;
  /* font-size: 0.625%; 16px*0.62.5% = 10px */
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    to left,
    #000000,
    #060606,
    #040404,
    #060606,
    #000000
  );
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
p {
  margin-top: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 11rem 4rem 8rem;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 130rem;
  margin: 0 auto;
}
.logo {
  display: block;
  width: 4rem;
  height: 4rem;
  /* margin-right: 28.2%; */
  /* margin-right: 24.7vw; */
}
.header_nav {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
  /* flex-grow: 1; */
  /* max-width: 300px; */
  gap: 29vw;
}
.navigation {
  display: flex;
}
.burger-link {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.header-burger {
  display: none;
  background-image: url(../image/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000000;
  width: 53px;
  height: 41px;
}
.modal {
  position: fixed;
  top: 0;
  left: -1930px;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  transition: 0.4s ease-in-out;
}
.modal_window {
  position: relative;
  background-color: #626262;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 40px 40px;
}
.header-modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
  background-color: transparent;
  z-index: 3;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  width: 40px;
}
.navigation a {
  font-weight: 400;
  font-size: 1.6rem;
}
.navigation a::after {
  display: block;
  position: relative;
  content: "";
  height: 1px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.2s ease-in-out, left 0.5s ease-in-out;
  left: 0%;
  bottom: -10px;
}
.navigation a:hover::after {
  width: 100%;
}
.navigation a:not(:last-child) {
  margin-right: 7.1rem;
}
.button {
  display: block;
  padding: 1.1rem 3rem;
  color: #ffffff;
  border-radius: 50px;
}
.header_button {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.main-display {
  padding-left: 16.3%;
  /* padding-left: 16.2vw; */
  padding-top: 7.7%;
}
.main-display_bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 140%;
  max-width: 673px;
}
.main-display_timer {
  display: flex;
  gap: 3rem;
  margin-top: 5.3rem;
  margin-bottom: 7.5rem;
}
.main-display_item {
  width: 102px;
  height: 112px;
  text-align: center;
  background: #121212;
  padding: 2rem 3rem;
}
.main-display_count {
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.main-display_text {
  font-weight: 400;
  font-size: 1.6rem;
  opacity: 0.4;
}
.main_button {
  font-weight: 700;
  font-size: 1.6rem;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.special {
  margin-top: 6rem;
}
.special_wrap {
  display: flex;
  justify-content: space-between;
}
.special_img {
  display: block;
  background-image: url(../image/pc-group.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}

@media (max-width: 1580px) {
  .main-display {
    padding-left: 6rem;
    padding-top: 4.7%;
  }
}
@media (max-width: 1366px) {
  .header {
    padding: 4rem 7rem 4rem 5rem;
    gap: 5rem;
  }
  .logo {
    margin-right: 5.5vw;
  }
  .header_nav {
    flex-grow: 1;
    gap: normal;
    flex-grow: 1;
  }
  .main-display_bg {
    top: 191px;
  }
  .title {
    font-size: 5rem;
    max-width: 534px;
  }
  .main-display {
    /* padding-top: 10.7%; */
    /* padding-top: 10vh; */
    padding-top: 0;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55vw;
  }
  .main-display_timer {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .main_button {
    max-width: 184px;
  }
  .main-display_item {
    width: 90px;
    height: 100px;
    padding: 1.2rem 0;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 4rem 8rem 4rem 3rem;
  }
  .logo {
    margin-right: 3rem;
  }
  .header_button {
    margin-left: 12%;
  }
  .navigation a:not(:last-child) {
    margin-right: 5rem;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 4rem;
    max-width: 430px;
  }
  .main-display_item {
    width: 70px;
    height: 85px;
    padding: 0.5rem 0;
  }
  .main-display_text {
    font-size: 1.4rem;
  }
}
@media (max-width: 835px) {
  .header {
    padding: 4rem 5rem 4rem 4rem;
    gap: 0;
  }
  .navigation a:not(:last-child) {
    margin-right: 3rem;
  }
  .header_button {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 3rem 2rem 3rem 2rem;
  }
  .main-display {
    height: 50vw;
    padding: 4rem 2rem;
  }
  .main-display_bg {
    top: 10rem;
  }
  .title {
    font-size: 3rem;
    max-width: 320px;
  }
  .burger-btn {
    display: block;
  }
  .navigation {
    display: none;
  }
  .main-display_item {
    width: 51px;
    height: 56px;
    padding: 0.5rem 0;
  }
  .main-display_timer {
    gap: 1.5rem;
  }
  .main-display_count {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
  }
  .main-display_text {
    font-size: 1.2rem;
  }
}
@media (max-width: 567px) {
  .main-display {
    display: block;
  }
  .main-display_bg img {
    display: none;
  }
  .main-display_mobile {
    position: relative;
    background-image: url(../image/main-screen-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 50rem;
  }
}
/* @media (max-width: 960px) {} */
/* @media (min-width: 1920px) {} */
/* @media (min-width: 676px) {} */
